.code {
  white-space: pre;
  font-family: 'Consolas', 'Lucida Console', Monaco, monospace;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  padding: 4px;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.btn-download-theme {
  margin-left: 20px;
  margin-top: -6px;
}
.btn-download-all-themes {
  margin-top: 5px;
}
.well-ad-fit {
  min-width: 747px;
}
.code-title {
  margin-top: 0 !important;
}
