{% extends 'main.html' %}

{% load i18n %}

{% block meta %}
    {{ block.super }}
    <meta http-equiv="refresh" content="0; url=/themes/download-all-archive/"/>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans 'Thank You!' %}</h1>

        <p>
            {% blocktrans %}
                Your download will start shortly.
            {% endblocktrans %}
        </p>

        <p class="small">
            {% blocktrans %}
                Use <a href="/themes/download-all-archive/">direct link</a> if nothing happened in several seconds.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans %}
                We remember your browser. You don't need to pay again
                to download all themes in the future. If for some reason you asked
                to pay - just write to
                <a href="mailto:info@ideacolorthemes.org">info@ideacolorthemes.org</a>
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
